#title{font-family: 'Courier New', Courier, monospace;}
#header{color:black}
#header{font-size: xx-large;}
#header{text-align: center;}
#header{font-family: 'Courier New', Courier, monospace;}

body{ background-color: whitesmoke ;
  margin: 0;
}
/* menu con las cosas adentro */
.menuppal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.quienessomosTN:hover{
  font-size: large;
}
.concat:hover{
  font-size: large;
  
}
.topnav a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.whatsap {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30px;
    border: 0;
    margin-right: 2%;
  }
.whatsap:hover{
  transform: scale(1.2);
}


/* footerrrrrrrrrr */
/*.gridy {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Col-izq Col-der";
  background-color: grey;
  margin-top: 0px;
} */
.gridy{
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.Col-izq { grid-area: Col-izq;
color: black; 
text-align: center;
margin-left: auto;
margin-right: auto;
}

.letra{
  font-size: xx-large;
  justify-content: left;
}

.botoncatalogo{
  font-size: large;
  color: black;
}
.botoncatalogo:hover{
  font-size: larger;
}

.Col-der { 
 display: flex;
 right: 0%;
}

.imgcolder{  
  width:25vw;
  height: 30vw ;
}
.imgfooter{
  width: 30%;
}
.flexfooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  background-color: gray;
  margin-top: 2%;
  border-top: 2px solid black;
  color: black;
}

.links:hover{
  transform: scale(1.2);
}

.fotodelfooter{
  padding-top: 1.5%;
}

.contacto{
  margin-top: 1%;
}
.desapareceinfo{
  margin-top: 1%;
}

.catalogo{
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: aqua;
}

/*.listadelcata{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

} */

.row{
  margin-right: 0%;
  
}
.col{
  padding-right: 0%;
}
.card-img-top{
  height: 300px;
  
}


@media screen and (max-width: 1200px) {
  .desaparece{
    display: none;
  }
  .desapareceinfo{
    display: none;
  }
  .quienessomosTN{
    display: none;
  }
  .Col-der{
    display: none;
    
  }
  .Col-izq{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .flexfooter{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2%;
  }
  
}

/*
display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "col-der-izq col-der-der"
    "col-der-izq col-der-der";
  grid-area: Col-der;
*/





